@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  background: url(assets/3.1.png) fixed;
  background-size: cover;
  color: antiquewhite;
}
